[class^="#{$prefix}"] {
	*, *:before, *:after {
  		box-sizing: border-box;
	}
}

.#{$prefix}-body {
	margin: 0;
}

.#{$prefix}-header {
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}

.#{$prefix}-wrapper {
	box-sizing: border-box;
	display: block;
	position: relative;

	@media (min-width: $breakpoint) {
		display: flex;
		flex-direction: row;
	}
}

.#{$prefix}-sidebar {
	display: none;

	@media (min-width: $breakpoint) {
		display: block;
		width: 250px;
		border-right: 1px solid #f2f2f2;
	}
}

.#{$prefix}-main {
	@media (min-width: $breakpoint) {
		flex: 1; 
	}
}

.#{$prefix}-footer {
	border-top: 1px solid #f2f2f2;
}

.#{$prefix}-primary-navigation {
	display: none;
	@media (min-width: $breakpoint) {
		display: block;
	}
}

.#{$prefix}-mobile-nav-btn {
	display: none;

	@media (max-width: $breakpoint - 1) {
		display: inline-block;
		top: 0; 
		left: 0;
		padding: 5px; 
		background: red;
		color: #fff;
	}
}

.#{$prefix}-mobile-navigation {
	z-index: 1;
	display: none;
	position: fixed;
	top: 0; 
	left:0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity .2s ease-out;

	@media (max-width: $breakpoint - 1) {
		&.#{$prefix}-open {
			display: block;
		}

		&.#{$prefix}-in {
			opacity: 1;
		}
	}
}
