{% macro colorSwatch(colorConfig, config) %}
	<div class="stylify-color-swatch">
		<div class="stylify-color-swatch__preview" style="background-color: {{ colorConfig.hex }};"></div>
		<h3>{{ colorConfig.name }}</h3>
		<div>HEX: {{ colorConfig.hex }}</div>
		<div>RGB: {{ colorConfig.rgb }}</div>
	</div>
{% endmacro %}