{% macro patterns(items, type, config, ctx) %}
	{% for item in items %}
		<div class="stylify-pattern-wrapper" id="{{ item.id }}">
			<div class="stylify-pattern-header">
				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>
				
				{% if item.note %}
					<p>! {{ item.note }} !</p>
				{% endif %}
			</div>
				
			{% if item.variations %}
				{% for variation in item.variations%}
					<div class="{{ prefix }}-pattern-variation">
						<h4>{{ variation.name }}</h4>
						<p>{{ variation.description }}</p>
						
						{% if variation.note %}
							<p>! {{ variation.note }} !</p>
						{% endif %}

						<hr>
						<br>

						{% if variation.macro %}
							{{ runMacro(getContext(variation.macro, ctx),variation.args) }}
						{% else %}
							{{ runMacro(getContext(item.macro, ctx),variation.args) }}
						{% endif %}

						<br>
						<hr>

						<div class="stylify-tabs-wrapper">
							
							<div class="{{ config.prefix}}-tabs">
								<div class="stylify-tab active"><a href="#{{ variation.id }}-html" aria-expanded="true" aria-controls="{{ variation.id }}-html" data-target="{{ variation.id }}-html">HTML</a></div>
								{% if variation.css %}
									<div class="stylify-tab"><a href="#{{ variation.id }}-css" aria-expanded="false" aria-controls="{{ variation.id }}-css" data-target="{{ variation.id }}-css">CSS</a></div>
								{% endif %}
							</div>

							<div class="stylify-tab-content active" id="{{ variation.id }}-html">
<pre data-src="prism.js" class="language-html">
<code class=" language-html">
{% filter escape %}
{% if variation.macro %}
{{ runMacro(getContext(variation.macro, ctx),variation.args) }}
{% else %}
{{ runMacro(getContext(item.macro, ctx),variation.args) }}
{% endif %}
{% endfilter %}
</code>
</pre>
							</div>
							{% if variation.css %}
							<div class="stylify-tab-content" id="{{ variation.id }}-css">
<pre data-src="prism.js" class="language-sass">
<code class=" language-sass">
{% include "patterns/" + type + "/" + item.id  + "/" + variation.css %}
</code>
</pre>
							</div>
							{% endif %}
						</div>
					</div>	
				{% endfor %}
			{% endif %}
		</div>
	{% endfor %}
{% endmacro %}