{% macro menu(depth, config) %}
	<ul class="stylify-menu">
		{% for lvl_0 in config.navigation %}
			<li>
				<a href="{{ lvl_0.path }}"><span class="stylify-menu__header">{{ lvl_0.name }}</span></a>

				
				{% if (depth >= 1) and (lvl_0.navigation.length) %}
					{% for lvl_1 in lvl_0.navigation %}
						<div class="stylify-menu__section">
							{% if lvl_1.path %}
								<a href="{{ lvl_1.path }}"><span class="stylify-menu__header">{{ lvl_1.name }}</span></a>
							{% else %}
								<span class="stylify-menu__header">{{ lvl_1.name }}</span>
							{% endif %}

							{% if (depth >= 2) and (lvl_1.navigation.length) %}
								<ul class="stylify-menu__lvl1">
									{% for lvl_2 in lvl_1.navigation %}
										<li>
											<a href="{{ lvl_2.path }}"><span class="stylify-menu__header">{{ lvl_2.name }}</span></a>
											
											{% if (depth >= 3) and (lvl_2.navigation.length) %}
												<ul  class="stylify-menu__lvl2">
													{% for lvl_3 in lvl_2.navigation %}
														<li>
															<a href="{{ lvl_3.path }}">{{ lvl_3.name }}</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}

											{% if (depth >= 3) %}
												<ul class="stylify-menu__lvl2">
													{% for pattern in config.patterns[lvl_2.patterns] %}
														<li><a href="{{ lvl_2.path }}#{{ pattern.id }}">{{ pattern.name }}</a></li>
													{% endfor %}
												</ul>
											{% endif %}

										</li>
									{% endfor %}	
								</ul>
							{% endif %}


						</div>
					{% endfor %}
				{% endif %}


			</li>
		{% endfor %}
	</ul>
{% endmacro %}