<a href="#stylify-mobile-navigation" class="stylify-mobile-nav-btn js-stylify-toggle-mobile-nav">NAV</a>

<nav class="stylify-mobile-navigation" id="stylify-mobile-navigation">
	<a href="#stylify-mobile-navigation" class="stylify-mobile-nav-btn js-stylify-toggle-mobile-nav">NAV</a>
	
	{{ menu(2, config) }}
</nav>
