.#{$prefix}-tabs-wrapper {

}

.#{$prefix}-tabs {
	display: flex;
	flex-direction: row;
	align-items: start;

	.#{$prefix}-tab {
		display: block;
		padding: 5px 10px;

		&.active {
			background: #f5f2f0;
		}

		a {
			text-decoration: none;
		}
	}
}

.#{$prefix}-tab-content {
	display: none;

	&.active {
		display: block;
	}

	pre[class*="language-"] {
		margin: 0;
	}
}